@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
/*
.gridHome{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5,auto);
    grid-template-areas: 
        "nav"
        "video"
        "product"
        "form"
        "footer"  
    ;
}
*/
.gridVerano{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
        "header"
        "veranoDestacado"
        "veranoProductos"
        "footer"
    ;
}
.gridInvierno{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
        "header"
        "inviernoDestacado"
        "productosInvierno"
        "footer"
    ;
}
.gridFaq{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
        "header"
        "faq"
        "footer"
    ;
}
.gridSobre{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
        "header"
        "sobreNosotros"
        "footer"
    ;
}


.degradado{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,59,22,1) 50%, rgba(121,114,9,1) 96%);
}
.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,auto);
    grid-template-areas:  
        "header"
        "imgProd"
        "pedido"
        "talles"
        "informacion"
        "footer";
}
header{
    grid-area: header;
}
main section#imgProd{
    grid-area: imgProd;
}
main section#pedido{
    grid-area: pedido;
    align-content: center;
}
main section#talles{
    grid-area: talles;
}
main section#informacion{
    grid-area: informacion;
    display: flex;
}
footer{
    grid-area: footer;
}
.pruebaa {
    border: 1px solid black
}
.contentFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.imgPortada {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 450px;
    width: 350px;
}
.navContainer li {
    display: inline-block;
}
/* CODIGO PARA NAVEGADOR CON DEGRADE, LO COMENTE PARA HACER UNOS CAMBIOS
nav:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,59,22,1) 50%, rgba(121,114,9,1) 96%);
}
.navContainer li:hover ul {
    display: block;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,59,22,1) 50%, rgba(121,114,9,1) 96%);
}*/
.subMenu{
    display: none;
    position: absolute;
    background-color: black;
}
.subMenu li {
    display: block;
    position: relative;
    top: 10px;
    padding: 15px 12px;
}
.imgColeccion{
    width: 250px;
    height: 380px;
}
.borderStyle {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-top: solid 5px #D4AC2B;
    border-bottom: solid 5px #D4AC2B;
    border-left: solid 5px #D4AC2B;
    border-right: solid 5px #D4AC2B;
}

.textoTachado {
    text-decoration: line-through;
}
.textoNegrita {
    font-weight: bold;
}
.fontSerif {
    font-family: sans-serif;
}
.fontItalic {
    font-style: italic;
}
.pedidos{
    background-color: #98b1c2;
}
.tableTd{
    background-color: #728b9c;
}
.backImg {
    background-image: url("https://www.logolynx.com/images/logolynx/70/70cd2aabba55b7b7321b4583ef9bf565.jpeg");
    background-position: center;
}
body {
    background-color: rgb(235, 235, 235);
}
section {
    margin: 50px 200px 50px 200px;
}
nav a{
    color: white;
}

a{
    text-decoration: none;
}
main a {
    color: black;
}
ol{
    list-style-type: upper-roman;
}
h1{
    color: #D4AC2B;
}
/*main p {
    background-color: rgb(86, 97, 143);
    color: white; }*/
table {
    background-color:rgb(190, 190, 190);;
}
table th {
    background-color: #98b1c2;
}
header nav ul li{
    color: white;
    list-style: none;
    display: inline;
    font-size: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
}
nav ul li{
    color: white;
    list-style: none;
    display: inline;
    font-size: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
}

main ol li {
    color: darkslateblue;
}
footer{
    width: 100%;
    background-color: #04293A;
    color: white;
    display: inline-flex;
}
footer img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
footer h2 {
    color: #D4AC2B;
}


@media only screen and (min-width: 320px){
    .gridHome{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
        "header"
        "video"
        "product"
        "form"
        "footer"
        ;
    }
    #carouselExampleIndicators{
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        width: 250px;
        height: 380px;
    }
}
@media only screen and (min-width: 768px){
    .gridHome{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
            "header"
            "video"
            "product"
            "form"
            "footer"  
        ;
    }
    #carouselExampleIndicators{
        height: 480px;
        width: 350px;
    }
}
@media only screen and (min-width: 1024px){
    .gridHome{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
            "header"
            "video"
            "product"
            "form"
            "footer"  
        ;
    }
    #carouselExampleIndicators{
        height: 480px;
        width: 350px;
    }
}