@import "./parciales/botones";
@import "./parciales/header";
@import "./parciales/main";
@import "./parciales/section";
@import "./parciales/media";
@import "./parciales/sobreNosotros";
@import "./parciales/tablas";
@import "./parciales/footer";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

@media only screen and (min-width: 320px){
    .gridHome{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
        "header"
        "video"
        "product"
        "form"
        "footer"
        ;
    }
    #carouselExampleIndicators{
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        width: 250px;
        height: 380px;
    }
    .gridVerano{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
            "header"
            "veranoDestacado"
            "veranoProductos"
            "footer"
        ;
    }
    .gridInvierno{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "inviernoProductos"
            "footer"
        ;
    }
    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas:  
            "header"
            "imgProd"
            "pedido"
            "talles"
            "footer";
    }
    .gridFaq{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "faq"
            "footer"
        ;
    }
    .gridSobre{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "sobreNosotros"
            "footer"
        ;
    }
}
@media only screen and (min-width: 768px){
    .gridHome{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
            "header"
            "video"
            "product"
            "form"
            "footer"  
        ;
    }
    #carouselExampleIndicators{
        height: 480px;
        width: 350px;
    }
    .gridVerano{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
            "header"
            "veranoDestacado"
            "veranoProductos"
            "footer"
        ;
    }
    .gridInvierno{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "inviernoProductos"
            "footer"
        ;
    }
    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas:  
            "header"
            "imgProd"
            "pedido"
            "talles"
            "footer";
    }
    .gridFaq{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "faq"
            "footer"
        ;
    }
    .gridSobre{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "sobreNosotros"
            "footer"
        ;
    }
}
@media only screen and (min-width: 1024px){
    .gridHome{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
            "header"
            "video"
            "product"
            "form"
            "footer"  
        ;
    }
    #carouselExampleIndicators{
        height: 480px;
        width: 350px;
    }
    .gridVerano{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
            "header"
            "veranoDestacado"
            "veranoProductos"
            "footer"
        ;
    }
    .gridInvierno{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "inviernoProductos"
            "footer"
        ;
    }
    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas:  
            "header"
            "imgProd"
            "pedido"
            "talles"
            "footer";
    }
    .gridFaq{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "faq"
            "footer"
        ;
    }
    .gridSobre{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "sobreNosotros"
            "footer"
        ;
    }
}


header{
    grid-area: header;
}
main section#imgProd{
    grid-area: imgProd;
}
main section#pedido{
    grid-area: pedido;
    align-content: center;
}
main section#talles{
    grid-area: talles;
}
main section#informacion{
    grid-area: informacion;
    display: flex;
}
main section#veranoProductos{
    grid-area: veranoProductos;
    display: flex;
}
footer{
    grid-area: footer;
}
$tamano: 60px;
.tamaA{
    font-size: $tamano+20;
}
.tamaB{
    font-size: $tamano/2;
}
.tamaC{
    font-size: $tamano/3;
}

$colores: (
    "rojo": red,
    "amarillo": yellow,
    "blanco":white,
    "naranja": orange,
);

@each $name, $color in $colores {
    .backP--#{$name}{
        background-color: $color;
    }
}

.frecQuest{
    .frecQuest__h1{
        color: seagreen;
        font-family: initial;
    }
    .frecQuest__h2{
        color: cadetblue;
        font-family: monospace;
    }
    @include tablet{
        background-color: rgb(134, 87, 26);
    }
    @include mobile{
        background-color: rgb(33, 116, 54);
    }
}


.contentFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-top: solid 5px #D4AC2B;
    border-bottom: solid 5px #D4AC2B;
    border-left: solid 5px #D4AC2B;
    border-right: solid 5px #D4AC2B;
    .nav__subMenu{
        display: none;
        position: absolute;
        background-color: black;
        .subMenu__li {
            display: block;
            position: relative;
            top: 10px;
            padding: 15px 12px;
        }
    }
    .nav__p{
        font-style: italic;
    }
}

.pedidos{
    background-color: #98b1c2;
    .pedidos__h2{
        color: black;
        font-family: sans-serif;
    }
}

.form{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,59,22,1) 50%, rgba(121,114,9,1) 96%);
    .form__h2{
        color: white;
    }
}

.productosIndex{
    .productosIndex__h2{
        color: rgb(77, 1, 1);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

 


