@import "./parciales/botones";
@import "./parciales/header";
@import "./parciales/mainStyle";
@import "./parciales/section";
@import "./parciales/media";
@import "./parciales/sobreNosotros";
@import "./parciales/tablas";
@import "./parciales/footer";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');



header{
    grid-area: header;
}
main section#imgProd{
    grid-area: imgProd;
}
main section#pedido{
    grid-area: pedido;
    align-content: center;
}
main section#talles{
    grid-area: talles;
}
main section#informacion{
    grid-area: informacion;
    display: flex;
}
main section#veranoProductos{
    grid-area: veranoProductos;
    display: flex;
}
footer{
    grid-area: footer;
}
$tamano: 60px;
.tamaA{
    font-size: $tamano+20;
}
.tamaB{
    font-size: $tamano/2;
}
.tamaC{
    font-size: $tamano/3;
}

$colores: (
    "rojo": red,
    "amarillo": yellow,
    "blanco":white,
    "naranja": orange,
);

@each $name, $color in $colores {
    .backP--#{$name}{
        background-color: $color;
    }
}

.frecQuest{
    .frecQuest__h1{
        color: seagreen;
        font-family: initial;
    }
    .frecQuest__h2{
        color: cadetblue;
        font-family: monospace;
    }
    @include tablet{
        background-color: rgb(134, 87, 26);
    }
    @include mobile{
        background-color: rgb(33, 116, 54);
    }
}


.contentFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-top: solid 5px #D4AC2B;
    border-bottom: solid 5px #D4AC2B;
    border-left: solid 5px #D4AC2B;
    border-right: solid 5px #D4AC2B;
    .nav__subMenu{
        display: none;
        position: absolute;
        background-color: black;
        .subMenu__li {
            display: block;
            position: relative;
            top: 10px;
            padding: 15px 12px;
        }
    }
    .nav__p{
        font-style: italic;
    }
}

.pedidos{
    background-color: #98b1c2;
    .pedidos__h2{
        color: black;
        font-family: sans-serif;
    }
}

.form{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,59,22,1) 50%, rgba(121,114,9,1) 96%);
    .form__h2{
        color: white;
    }
}

.productosIndex{
    .productosIndex__h2{
        color: rgb(77, 1, 1);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

 


