






nav a{
    color: white;
}

a{
    text-decoration: none;
}
main a {
    color: black;
}
ol{
    list-style-type: upper-roman;
}
h1{
    color: #D4AC2B;
}

header nav ul li{
    color: white;
    list-style: none;
    display: inline;
    font-size: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
}
nav ul li{
    color: white;
    list-style: none;
    display: inline;
    font-size: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
}

main ol li {
    color: darkslateblue;
}


