






nav a{
    color: white;
}

a{
    text-decoration: none;
}
main a {
    color: black;
}
ol{
    list-style-type: upper-roman;
}
h1{
    color: #D4AC2B;
}
table {
    background-color:rgb(190, 190, 190);;
}
table th {
    background-color: #98b1c2;
}
header nav ul li{
    color: white;
    list-style: none;
    display: inline;
    font-size: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
}
nav ul li{
    color: white;
    list-style: none;
    display: inline;
    font-size: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
}

main ol li {
    color: darkslateblue;
}
@media only screen and (min-width: 320px){
    .gridHome{
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
        "header"
        "video"
        "product"
        "form"
        "footer"
        ;
    }
    #carouselExampleIndicators{
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        width: 250px;
        height: 380px;
    }
    .gridVerano{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
            "header"
            "veranoDestacado"
            "veranoProductos"
            "footer"
        ;
    }
    .gridInvierno{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "inviernoProductos"
            "footer"
        ;
    }
    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas:  
            "header"
            "imgProd"
            "pedido"
            "talles"
            "footer";
    }
    .gridFaq{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "faq"
            "footer"
        ;
    }
    .gridSobre{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "sobreNosotros"
            "footer"
        ;
    }
}
@media only screen and (min-width: 768px){
    .gridHome{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
            "header"
            "video"
            "product"
            "form"
            "footer"  
        ;
    }
    #carouselExampleIndicators{
        height: 480px;
        width: 350px;
    }
    .gridVerano{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
            "header"
            "veranoDestacado"
            "veranoProductos"
            "footer"
        ;
    }
    .gridInvierno{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "inviernoProductos"
            "footer"
        ;
    }
    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas:  
            "header"
            "imgProd"
            "pedido"
            "talles"
            "footer";
    }
    .gridFaq{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "faq"
            "footer"
        ;
    }
    .gridSobre{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "sobreNosotros"
            "footer"
        ;
    }
}
@media only screen and (min-width: 1024px){
    .gridHome{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
            "header"
            "video"
            "product"
            "form"
            "footer"  
        ;
    }
    #carouselExampleIndicators{
        height: 480px;
        width: 350px;
    }
    .gridVerano{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
            "header"
            "veranoDestacado"
            "veranoProductos"
            "footer"
        ;
    }
    .gridInvierno{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "inviernoProductos"
            "footer"
        ;
    }
    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas:  
            "header"
            "imgProd"
            "pedido"
            "talles"
            "footer";
    }
    .gridFaq{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "faq"
            "footer"
        ;
    }
    .gridSobre{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "sobreNosotros"
            "footer"
        ;
    }
}



