
header{
    grid-area: header;
}
main section#imgProd{
    grid-area: imgProd;
}
main section#pedido{
    grid-area: pedido;
    align-content: center;
}
main section#talles{
    grid-area: talles;
}
main section#informacion{
    grid-area: informacion;
    display: flex;
}
main section#veranoProductos{
    grid-area: veranoProductos;
    display: flex;
}
footer{
    grid-area: footer;
}
@media only screen and (min-width: 1024px){
    .gridHome{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas: 
            "header"
            "video"
            "product"
            "form"
            "footer"  
        ;
    }
    #carouselExampleIndicators{
        height: 480px;
        width: 350px;
    }
    .gridVerano{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4,auto);
        grid-template-areas: 
            "header"
            "veranoDestacado"
            "veranoProductos"
            "footer"
        ;
    }
    .gridInvierno{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "inviernoProductos"
            "footer"
        ;
    }
    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,auto);
        grid-template-areas:  
            "header"
            "imgProd"
            "pedido"
            "talles"
            "footer";
    }
    .gridFaq{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "faq"
            "footer"
        ;
    }
    .gridSobre{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "header"
            "sobreNosotros"
            "footer"
        ;
    }
}
@media only screen and (max-width: 768px){
        .gridHome{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(5,auto);
            grid-template-areas: 
                "header"
                "video"
                "product"
                "form"
                "footer"  
            ;
        }
        #carouselExampleIndicators{
            height: 480px;
            width: 350px;
        }
        .gridVerano{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(4,auto);
            grid-template-areas: 
                "header"
                "veranoDestacado"
                "veranoProductos"
                "footer"
            ;
        }
        .gridInvierno{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3,auto);
            grid-template-areas: 
                "header"
                "inviernoProductos"
                "footer"
            ;
        }
        .grid {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(5,auto);
            grid-template-areas:  
                "header"
                "imgProd"
                "pedido"
                "talles"
                "footer";
        }
        .gridFaq{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3,auto);
            grid-template-areas: 
                "header"
                "faq"
                "footer"
            ;
        }
        .gridSobre{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3,auto);
            grid-template-areas: 
                "header"
                "sobreNosotros"
                "footer"
            ;
        }
    }

@media only screen and (max-width: 320px){
        .gridHome{
            display: grid;
            grid-template-columns: 100vw;
            grid-template-rows: repeat(5,auto);
            grid-template-areas: 
            "header"
            "video"
            "product"
            "form"
            "footer"
            ;
        }
        #carouselExampleIndicators{
            display: flex;
            flex-flow: row wrap;
            justify-content: start;
            width: 250px;
            height: 380px;
        }
        .gridVerano{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(4,auto);
            grid-template-areas: 
                "header"
                "veranoDestacado"
                "veranoProductos"
                "footer"
            ;
        }
        .gridInvierno{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3,auto);
            grid-template-areas: 
                "header"
                "inviernoProductos"
                "footer"
            ;
        }
        .grid {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(5,auto);
            grid-template-areas:  
                "header"
                "imgProd"
                "pedido"
                "talles"
                "footer";
        }
        .gridFaq{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3,auto);
            grid-template-areas: 
                "header"
                "faq"
                "footer"
            ;
        }
        .gridSobre{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(3,auto);
            grid-template-areas: 
                "header"
                "sobreNosotros"
                "footer"
            ;
        }
    }